extensions/sockets/src/test/resources/tcp-send-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">

    <sockets:requester-config name="tcp-requester">
        <sockets:tcp-requester-connection host="localhost" port="${port_tcp}">
            <pooling-profile maxActive="1"/>
            <sockets:protocol>
                <sockets:streaming-protocol/>
            </sockets:protocol>
            <sockets:tcp-client-socket-properties>
                <sockets:default-tcp-client-socket-properties failOnUnresolvedHost="true" sendTcpNoDelay="true"/>
            </sockets:tcp-client-socket-properties>
        </sockets:tcp-requester-connection>
    </sockets:requester-config>

    <sockets:listener-config name="tcp-listener">
        <sockets:tcp-listener-connection host="localhost" port="${port_tcp}">
            <sockets:protocol>
                <sockets:streaming-protocol/>
            </sockets:protocol>
            <sockets:tcp-server-socket-properties>
                <sockets:default-tcp-server-socket-properties/>
            </sockets:tcp-server-socket-properties>
        </sockets:tcp-listener-connection>
    </sockets:listener-config>

    <flow name="tcp-send">
        <sockets:send config-ref="tcp-requester"/>
        <logger level="ERROR" message="#['OPERATION: ' + org.mule.runtime.core.util.IOUtils.toString(payload)]"/>
    </flow>

    <flow name="tcp-listen">
        <sockets:socket-listener config-ref="tcp-listener"/>
        <logger level="ERROR" message="#['SOURCE: ' + org.mule.runtime.core.util.IOUtils.toString(payload)]"/>
        <!--<flow-ref name="onIncomingConnection"/>-->
        <set-payload value="Consumed"/>
    </flow>

    <sub-flow name="onIncomingConnection">
        <expression-component>org.mule.extension.socket.SocketExtensionTestCase.onIncomingConnection(message)
        </expression-component>
    </sub-flow>

</mule>
